$mid-bp: 650px;
$large-bp: 1200px;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);

    @media only screen and (min-width: $large-bp) {
        font-size: 1.2em;
    }
}

h3 {
    text-align: center;
}

h3:not([class*="select"]):not([class*="archives"]):not([class*="resources"]) {

    @media only screen and (min-width: $mid-bp) {
        font-size: 1.5em;
    }

    @media only screen and (min-width: $large-bp) {
        font-size: 1.8em;
    }
}

h3:not([class*="select"]):not([class*="archives"]):not([class*="resources"])::before {
    background-image: url('rockPoint.png');
    background-size: 35px 30px;
    display: inline-block;
    width: 35px; 
    height: 30px;
    content:"";
    margin-left: -35px;
    margin-right: 2vw;
}

.intro {
    grid-column: 1/6;
    padding-left: 2em;

    @media only screen and (min-width: $large-bp) {
        grid-column: 1/7;
    }
    
    h1 {
        font-size: 1.6em;
        text-align: center;

        @media only screen and (min-width: $mid-bp) {
            font-size: 3em;
        }

        @media only screen and (min-width: $large-bp) {
            font-size: 5em;
            margin-top: 10px;
        }
    }

    h2 {
        font-size: .8em;
        margin-top: -25px;
        padding-left: 3.5em;
        text-align: center;

        @media only screen and (min-width: $mid-bp) {
            font-size: 1.1em;
            margin-top: -40px;
            padding-left: 150px;
        }

        @media only screen and (min-width: $large-bp) {
            font-size: 2em;
            margin-top: -80px;
            padding-left: 500px;
        }
    }

    .summary > p{
        @media only screen and (min-width: $mid-bp) {
            display: block;
            font-size: 1.2em;
            width: 60%;
            margin: auto;
        }
    }

    .summary > p:nth-child(2) {
        border: 1px solid black;
        border-radius: 10px;
        margin: -10px 0 0 35%;
        padding: 20px;
        max-width: 100px;

        @media only screen and (min-width: $mid-bp) {
            margin: 10px 0 0 45%;
            display: inline-block;
        }

        @media only screen and (min-width: $large-bp) {
            max-width: 410px;
        }
    }

    .preamble {
        margin: 70px 0 0 5%;

        @media only screen and (min-width: $large-bp) {
            grid-column: 3/6;
            margin: 0;
        }
    }
}

.main:not(footer) {
    grid-column: 2/8;

    @media only screen and (min-width: $large-bp) {
        grid-column: 1/7;
        padding-left: 2em;
    }
}

.sidebar {
    grid-column: 6/9;
    grid-row: 1;
    text-align: center;

    h3 {
        margin-left: 35px;
    }

    @media only screen and (min-width: $mid-bp) {
        grid-column: 6/8;
    }

    @media only screen and (min-width: $large-bp) {
        position: fixed;
        top: 175px;
        right: 1.9vw;
        height: 675px;
        width: 23%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
   
    .design-selection::before {
        background-image: url('rockPoint.png');
        background-size: 100px 100px;
        display: block;
        width: 100px; 
        height: 100px;
        content:"";
        margin: 20px auto auto 10vw;

        @media only screen and (min-width: $large-bp) {
            background-image: none;
            width: 0;
            height: 0;
            margin: 0;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    margin-left: -22%;
    bottom: 0;
    text-align: center;
    border-top: 1px solid black;
    padding: 20px;

    @media only screen and (min-width: $large-bp) {
        width: 102.7%;
        margin-left: -40px;
    }

    a {
        margin-right: 40px;
    }
}

ul {
    list-style-type: none;
}



